image: gitlab.green-rabbit.net:5050/kimata/local-ubuntu:260104_3efe597c

variables:
    UV_LINK_MODE: copy
    UV_CACHE_DIR: .uv-cache
    PYRIGHT_PYTHON_FORCE_VERSION: latest

    UV_EXTRA_INDEX_URL: "http://proxy:3141/simple/"
    UV_INSECURE_HOST: "proxy"

stages:
    - pre-test
    - test
    - renovate

test-typecheck:
    stage: test

    needs: []

    script:
        - uv run python -m pyright src/
        - uv run mypy src/

    cache:
        - key:
              files:
                  - uv.lock
          paths:
              - ${UV_CACHE_DIR}

test-pytest:
    stage: test

    needs: []

    script:
        - uv run pytest

    coverage: '/TOTAL.*\s+(\d+%)/'

    cache:
        - key:
              files:
                  - uv.lock
          paths:
              - ${UV_CACHE_DIR}

    artifacts:
        when: always
        paths:
            - reports/**
            - htmlcov/**
        reports:
            junit: reports/junit-report.xml
            coverage_report:
                coverage_format: cobertura
                path: reports/coverage.xml

renovate:
    stage: renovate

    dependencies: []

    resource_group: renovate

    image:
        name: gitlab.green-rabbit.net:5050/kimata/local-renovate:260104_3da7b77b

    variables:
        RENOVATE_CACHE_DIR: .renovate-cache
        LOG_LEVEL: info

    script:
        - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

    cache:
        key: renovate-cache
        paths:
            - ${RENOVATE_CACHE_DIR}

    rules:
        - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
          when: never
        - if: $CI_PIPELINE_SOURCE == "schedule"
        - changes:
              - renovate.json
